/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_header.scss */
.navbar {
  max-height: 80px;
  min-height: 80px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
}
/* line 6, ../sass/_header.scss */
.navbar .left {
  width: 10%;
  display: inline-flex;
  align-items: flex-start;
}
/* line 10, ../sass/_header.scss */
.navbar .left .logo {
  width: 100%;
}
/* line 12, ../sass/_header.scss */
.navbar .left .logo a {
  color: #222;
  font-family: "Dosis",sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  /* line 6, ../sass/_header.scss */
  .navbar .left {
    margin-left: 5%;
  }
}
/* line 26, ../sass/_header.scss */
.navbar .hamburger {
  float: right;
  display: none;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  /* line 33, ../sass/_header.scss */
  .navbar .hamburger {
    display: block;
    margin-right: 5%;
  }
}
/* line 38, ../sass/_header.scss */
.navbar .right {
  width: 89%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/* line 44, ../sass/_header.scss */
.navbar .right ul li {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
}
.navbar .right ul li.dropdown {
  position: relative;
}
.navbar .right ul li.dropdown a {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.navbar .right ul .selection {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 77px;
  right: -51px;
  padding: 5px 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
}
.navbar .right ul .selection ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .right ul .selection ul li {
  padding: 10px 20px;
  margin: 0;
  display: initial;
}

/* line 49, ../sass/_header.scss */
.navbar .right ul li a {
  font-family: "Lato",sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  color: #01224f;
  transition: 0.2s;
}
/* line 57, ../sass/_header.scss */
.navbar .right ul li a:hover {
  color: #e8371a;
}
/* line 61, ../sass/_header.scss */
.navbar .right ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 800px) {
  /* line 44, ../sass/_header.scss */
  .navbar .right ul li {
    display: block;
    padding: 10px 0;
    text-align: center;
    margin: 0;
  }
  /* line 69, ../sass/_header.scss */
  .navbar .right ul li:first-child {
    margin-top: 20px;
  }
  /* line 72, ../sass/_header.scss */
  .navbar .right ul li:last-child {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  /* line 38, ../sass/_header.scss */
  .navbar .right {
    display: none;
    width: 100%;
    background-color: #fff;
  }
}
@media screen and (max-width: 800px) {
  /* line 1, ../sass/_header.scss */
  .navbar {
    display: flex;
    max-height: inherit;
  }
}

@media screen and (max-width: 800px) {
  /* line 92, ../sass/_header.scss */
  .navbar .container {
    width: 100%;
  }
}
/* line 1, ../sass/_footer.scss */
.footer {
  background-color: rgba(1, 34, 79, 0.1);
}
/* line 3, ../sass/_footer.scss */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
/* line 9, ../sass/_footer.scss */
.footer .container .right ul {
  display: flex;
  flex-direction: row;
}
/* line 12, ../sass/_footer.scss */
.footer .container .right ul li {
  margin-right: 15px;
}
/* line 14, ../sass/_footer.scss */
.footer .container .right ul li:last-child {
  margin-right: 0;
}
/* line 17, ../sass/_footer.scss */
.footer .container .right ul li a {
  color: #01224f;
  font-size: 17px;
  transition: 0.2s;
}
/* line 21, ../sass/_footer.scss */
.footer .container .right ul li a:hover {
  color: #e8371a;
}

/* line 1, ../sass/_homepage.scss */
.slider {
  background-image: url(../img/slider.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 540px;
  display: flex;
}
@media screen and (max-width: 500px) {
  /* line 1, ../sass/_homepage.scss */
  .slider {
    height: 450px;
  }
}
/* line 10, ../sass/_homepage.scss */
.slider .slider-info {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* line 14, ../sass/_homepage.scss */
.slider .slider-info .info {
  outline: 1px solid #fff;
  outline-offset: 8px;
  padding: 65px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
@media screen and (max-width: 500px) {
  /* line 14, ../sass/_homepage.scss */
  .slider .slider-info .info {
    padding: 30px;
  }
}
/* line 23, ../sass/_homepage.scss */
.slider .slider-info .info span {
  font-size: 18px;
  font-weight: 500;
}
/* line 29, ../sass/_homepage.scss */
.slider .js-scrollTo {
  position: relative;
  display: flex;
  margin-top: 25px;
}
/* line 33, ../sass/_homepage.scss */
.slider .js-scrollTo span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
/* line 48, ../sass/_homepage.scss */
.slider .js-scrollTo span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
/* line 52, ../sass/_homepage.scss */
.slider .js-scrollTo span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
/* line 57, ../sass/_homepage.scss */
.slider .js-scrollTo span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 85, ../sass/_homepage.scss */
.slider .js-scrollTo:after {
  display: block;
  clear: both;
  content: '';
}

/* line 1, ../sass/about.scss */
.breadcrumbs.about {
  background-image: url(../img/aboutme.jpg);
  background-size: cover;
  background-position: center;
}

/* line 7, ../sass/about.scss */
.presentation {
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  /* line 7, ../sass/about.scss */
  .presentation {
    margin-bottom: 30px;
  }
}
/* line 12, ../sass/about.scss */
.presentation .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 18, ../sass/about.scss */
.presentation .container .left .small_description {
  line-height: 28px;
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  /* line 18, ../sass/about.scss */
  .presentation .container .left .small_description {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 800px) {
  /* line 25, ../sass/about.scss */
  .presentation .container .left .idea {
    margin-bottom: 25px;
  }
}
/* line 29, ../sass/about.scss */
.presentation .container .left {
    width: 55%;
}
@media screen and (max-width:800px) {
    .presentation .container .left {
        width: 100%;
    }
}
.presentation .container .left .idea ul {
  display: flex;
  flex-direction: column;
}
/* line 32, ../sass/about.scss */
.presentation .container .left .idea ul li {
  display: flex;
  align-items: center;
  border-top: 1px solid #f6f6f6;
  padding: 15px 0;
  letter-spacing: 1px;
}
/* line 38, ../sass/about.scss */
.presentation .container .left .idea ul li a {
  color: #000;
  transition: 0.3s;
}
.presentation .container .left .idea ul li a:hover {
    color: #e8371a;
}
/* line 41, ../sass/about.scss */
.presentation .container .left .idea ul li:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #f6f6f6;
}
/* line 45, ../sass/about.scss */
.presentation .container .left .idea ul li:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: bold;
  text-decoration: inherit;
  margin-right: 10px;
  color: #01224f;
}
/* line 58, ../sass/about.scss */
.presentation .container .right {
  background-image: url(../img/pictureMe.jpg);
  height: 450px;
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid #000;
  outline-offset: 8px;
}
@media screen and (max-width: 800px) {
  /* line 12, ../sass/about.scss */
  .presentation .container {
    flex-direction: column;
  }
  /* line 68, ../sass/about.scss */
  .presentation .container .title {
    text-align: center;
  }
  .presentation .container .right {
      width: 100%;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: contain;
  }
}

/* line 1, ../sass/portfolio.scss */
.breadcrumbs.portfolio {
  background-image: url(../img/portfolio.jpg);
  background-position: center;
  background-size: cover;
}
/* line 5, ../sass/portfolio.scss */
.breadcrumbs.portfolio .title {
  color: #fff;
}

/* line 1, ../sass/skills.scss */
.breadcrumbs.skills {
  background-image: url(../img/skills.jpg);
  background-size: cover;
  background-position: center;
}

/* line 8, ../sass/skills.scss */
.skill .title {
  text-align: center;
  color: #01224f;
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  /* line 8, ../sass/skills.scss */
  .skill .title {
    margin-bottom: 0px;
  }
}
/* line 16, ../sass/skills.scss */
.skill .allSkills {
  margin-bottom: 75px;
}
@media screen and (max-width: 800px) {
  /* line 16, ../sass/skills.scss */
  .skill .allSkills {
    margin-bottom: 30px;
  }
}
/* line 21, ../sass/skills.scss */
.skill .allSkills .line {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  /* line 21, ../sass/skills.scss */
  .skill .allSkills .line {
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
  }
}
/* line 31, ../sass/skills.scss */
.skill .allSkills .line .bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 50px 25px;
  transition: all 0.6s ease 0s;
  width: 33.33%;
}
@media screen and (max-width: 800px) {
  /* line 31, ../sass/skills.scss */
  .skill .allSkills .line .bloc {
    padding: 25px 10px;
    width: 100%;
    box-sizing: border-box;
  }
}
/* line 42, ../sass/skills.scss */
.skill .allSkills .line .bloc:nth-child(2) {
  margin: 0 25px;
}
@media screen and (max-width: 800px) {
  /* line 31, ../sass/skills.scss */
  .skill .allSkills .line .bloc:nth-child(2) {
    margin: 0;
  }
}
/* line 45, ../sass/skills.scss */
.skill .allSkills .line .bloc .icons {
  font-size: 30px;
}
/* line 48, ../sass/skills.scss */
.skill .allSkills .line .bloc .title {
  margin: 25px 0;
  font-size: 20px;
}
/* line 52, ../sass/skills.scss */
.skill .allSkills .line .bloc .info {
  line-height: 25px;
}
/* line 55, ../sass/skills.scss */
.skill .allSkills .line .bloc:hover {
  margin-top: -15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
}

/* line 1, ../sass/blog.scss */
.blog {
  margin: 100px 0;
  text-align: center;
}
/* line 4, ../sass/blog.scss */
.blog .title {
  font-size: 30px;
  margin-bottom: 50px;
}

/* line 1, ../sass/contact.scss */
.breadcrumbs.contact {
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-position: center;
}

/* line 7, ../sass/contact.scss */
.contactMe {
  margin-bottom: 75px;
}
@media screen and (max-width: 800px) {
  /* line 7, ../sass/contact.scss */
  .contactMe {
    margin-bottom: 30px;
  }
}
/* line 12, ../sass/contact.scss */
.contactMe .title {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  /* line 12, ../sass/contact.scss */
  .contactMe .title {
    margin-bottom: 25px;
  }
}
/* line 21, ../sass/contact.scss */
.contactMe .firstLineContact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  /* line 21, ../sass/contact.scss */
  .contactMe .firstLineContact {
    flex-direction: column;
  }
}
/* line 29, ../sass/contact.scss */
.contactMe .firstLineContact .input {
  width: 48%;
  height: 45px;
  border: 1px solid #ddd;
  background-color: transparent;
  padding-left: 20px;
  font-size: 14px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  /* line 29, ../sass/contact.scss */
  .contactMe .firstLineContact .input {
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 40, ../sass/contact.scss */
  .contactMe .firstLineContact .input:last-child {
    margin-bottom: 0;
  }
}
/* line 47, ../sass/contact.scss */
.contactMe .secondLineContact .input, .contactMe .secondLineContact .textarea {
  width: 100%;
  height: 45px;
  border: 1px solid #ddd;
  background-color: transparent;
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
/* line 57, ../sass/contact.scss */
.contactMe .secondLineContact .textarea {
  height: 150px;
  padding: 14px 20px;
  font-family: "Dosis",sans-serif;
  font-size: 16px;
}
.contactMe .lastLineContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 64, ../sass/contact.scss */
.contactMe .submit {
  background-color: #464646;
  border: 1px solid #464646;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-top: 20px;
}
/* line 74, ../sass/contact.scss */
.contactMe .submit:hover {
  background-color: transparent;
  color: #464646;
}

/* line 2, ../sass/more.scss */
.moreInfo .content {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
@media screen and (max-width: 800px) {
  /* line 2, ../sass/more.scss */
  .moreInfo .content {
    display: block;
  }
  .contactMe .lastLineContact {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* line 9, ../sass/more.scss */
.moreInfo .content .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}
.moreInfo .content .right img {
  width: 100%;
  height: auto;
  object-position: top;
}
@media screen and (max-width: 800px) {
  /* line 9, ../sass/more.scss */
  .moreInfo .content .left {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
/* line 19, ../sass/more.scss */
.moreInfo .content .left .title {
  font-size: 25px;
  margin: 10px 0 30px 0;
  color: #01224f;
}
/* line 24, ../sass/more.scss */
.moreInfo .content .left .info {
  line-height: 25px;
  margin-bottom: 25px;
}
.moreInfo .content .left .info.livrables {
    margin-bottom: 5px;
}
/* line 28, ../sass/more.scss */
.moreInfo .content .left .myWork:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: bold;
  text-decoration: inherit;
  margin-right: 10px;
  color: #01224f;
}
/* line 37, ../sass/more.scss */
.moreInfo .content .left .button {
  display: inline-flex;
  padding: 10px 20px;
  background-color: rgba(1, 34, 79, 0.1);
  outline: 1px solid rgba(1, 34, 79, 0.1);
  outline-offset: 3px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 25px;
}
@media screen and (max-width: 800px) {
  /* line 37, ../sass/more.scss */
  .moreInfo .content .left .button {
    float: right;
  }
}
/* line 49, ../sass/more.scss */
.moreInfo .content .left .button:hover {
  background-color: #01224f;
  color: #fff;
}
/* line 55, ../sass/more.scss */
.moreInfo .content .right {
  width: 100%;
  height: 650px;
  overflow-y: scroll;
  outline: 1px solid rgba(1, 34, 79, 0.1);
  outline-offset: 3px;
}
/* line 57, ../sass/more.scss */
.moreInfo .content .right iframe {
  display: inline-flex;
  padding: 3px 3px;
  outline: 1px solid rgba(1, 34, 79, 0.1);
  outline-offset: 3px;
  cursor: pointer;
  transition: 0.2s;
}

/* line 19, ../sass/main.scss */
body {
  font-family: "Dosis",sans-serif;
}

/* line 23, ../sass/main.scss */
.loader {
  background-image: url(../img/loader.gif);
  background-color: #ffffff;
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 39, ../sass/main.scss */
.container {
  width: 95%;
  margin: auto;
}
@media screen and (min-width: 1180px) {
  /* line 39, ../sass/main.scss */
  .container {
    width: 1180px;
  }
}
@media screen and (max-width: 1180px) {
  /* line 39, ../sass/main.scss */
  .container {
    width: 90%;
  }
}

/* line 49, ../sass/main.scss */
h1 {
  font-size: 36px;
  padding: 15px 0;
  color: #444;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 58, ../sass/main.scss */
a {
  text-decoration: none;
  color: #464646;
}

/* line 63, ../sass/main.scss */
.breadcrumbs {
  height: 220px;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  position: relative;
}
.breadcrumbs:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 800px) {
  /* line 63, ../sass/main.scss */
  .breadcrumbs {
    height: 180px;
    margin-bottom: 30px;
  }
}
/* line 71, ../sass/main.scss */
.breadcrumbs .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
/* line 76, ../sass/main.scss */
.breadcrumbs .container .right {
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  /* line 76, ../sass/main.scss */
  .breadcrumbs .container .right {
    display: none;
  }
}
/* line 81, ../sass/main.scss */
.breadcrumbs .container .right ul {
  display: flex;
  flex-direction: row;
}
/* line 84, ../sass/main.scss */
.breadcrumbs .container .right ul li {
  color: #fff;
}
/* line 86, ../sass/main.scss */
.breadcrumbs .container .right ul li a {
  color: #fff;
}
/* line 93, ../sass/main.scss */
.breadcrumbs .container .left .title {
  color: #fff;
}

/* line 100, ../sass/main.scss */
.work {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (max-width: 800px) {
  /* line 100, ../sass/main.scss */
  .work {
    margin: 30px 0;
  }
}
/* line 106, ../sass/main.scss */
.work .title {
  text-align: center;
  margin-bottom: 50px;
  color: #01224f;
}
@media screen and (max-width: 800px) {
  /* line 106, ../sass/main.scss */
  .work .title {
    margin-bottom: 20px;
  }
}
/* line 114, ../sass/main.scss */
.work .allWork {
  display: flex;
  flex-direction: column;
}
/* line 117, ../sass/main.scss */
.work .allWork .line {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}
/* line 122, ../sass/main.scss */
.work .allWork .line:nth-child(3), .work .allWork .line:nth-child(4) {
  transition: 0.5s;
  display: none;
}
/* line 126, ../sass/main.scss */
.work .allWork .line.visible {
  display: flex !important;
}
@media screen and (max-width: 800px) {
  /* line 117, ../sass/main.scss */
  .work .allWork .line {
    flex-direction: column;
  }
}
/* line 132, ../sass/main.scss */
.work .allWork .line .bloc {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: center;
  height: 400px;
  background-size: cover;
  margin: 0 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  /* line 132, ../sass/main.scss */
  .work .allWork .line .bloc {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 35px;
    height: 250px;
  }
  /* line 149, ../sass/main.scss */
  .work .allWork .line .bloc:last-child {
    margin-bottom: 0;
  }
}
/* line 153, ../sass/main.scss */
.work .allWork .line .bloc:first-child {
  background-image: url(../img/actizzy.png);
}
/* line 156, ../sass/main.scss */
.work .allWork .line .bloc:nth-child(2) {
  background-image: url(../img/lefiguier.png);
}
/* line 159, ../sass/main.scss */
.work .allWork .line .bloc:nth-child(3) {
  background-image: url(../img/smartfone.png);
}
/* line 163, ../sass/main.scss */
.work .allWork .line .bloc:hover .info {
  opacity: 1;
  height: 20%;
}
/* line 167, ../sass/main.scss */
.work .allWork .line .bloc:hover .topInfo {
  opacity: 1;
  height: 15%;
}
/* line 172, ../sass/main.scss */
.work .allWork .line .bloc .filter {
  background: #2e0e0a;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  transition: all 0.2s;
  z-index: 2;
  left: 0;
}
/* line 181, ../sass/main.scss */
.work .allWork .line .bloc .filter:hover {
  background-color: transparent;
}
@media screen and (max-width: 800px) {
  /* line 172, ../sass/main.scss */
  .work .allWork .line .bloc .filter {
    background-color: transparent;
  }
}
/* line 188, ../sass/main.scss */
.work .allWork .line .bloc .info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 1;
  font-size: 20px;
  background-color: #fff;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: ease 0.5s;
  border: 1px solid #ccc;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  box-sizing: border-box;
  padding: 10px 15px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  /* line 188, ../sass/main.scss */
  .work .allWork .line .bloc .info {
    opacity: 1;
    height: 20%;
  }
}
/* line 211, ../sass/main.scss */
.work .allWork .line .bloc .topInfo {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  opacity: 0;
  padding: 10px;
  transition: ease 0.5s;
  border: 1px solid #ccc;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  /* line 211, ../sass/main.scss */
  .work .allWork .line .bloc .topInfo {
    opacity: 1;
    height: 25% !important;
  }
}
/* line 229, ../sass/main.scss */
.work .allWork .line .bloc .topInfo .date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 233, ../sass/main.scss */
.work .allWork .line .bloc .topInfo .date .fa-calendar {
  margin-bottom: 10px;
}
/* line 242, ../sass/main.scss */
.work .allWork .line:nth-child(3) .bloc:first-child {
  background-image: url(../img/anll.jpg);
}
/* line 245, ../sass/main.scss */
.work .allWork .line:nth-child(3) .bloc:nth-child(2) {
  background-image: url(../img/fs.jpg);
}
/* line 248, ../sass/main.scss */
.work .allWork .line:nth-child(3) .bloc:nth-child(3) {
  background-image: url(../img/oidesigners.jpg);
}
/* line 255, ../sass/main.scss */
.work .allWork .line:nth-child(4) .bloc:first-child {
  background-image: url(../img/gpa.jpg);
}
@media screen and (max-width: 800px) {
  /* line 255, ../sass/main.scss */
  .work .allWork .line:nth-child(4) .bloc:first-child {
    width: 90%;
  }
}
/* line 264, ../sass/main.scss */
.work .allWork .more {
  text-align: center;
  margin-bottom: 30px;
}
/* line 267, ../sass/main.scss */
.work .allWork .more .button {
  display: inline-flex;
  padding: 10px 20px;
  background-color: rgba(1, 34, 79, 0.1);
  outline: 1px solid rgba(1, 34, 79, 0.1);
  outline-offset: 3px;
  cursor: pointer;
  transition: 0.2s;
}
/* line 275, ../sass/main.scss */
.work .allWork .more .button:hover {
  background-color: #01224f;
  color: #fff;
}

/* line 284, ../sass/main.scss */
.error {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
/* line 288, ../sass/main.scss */
.error #formulaire {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/* line 296, ../sass/main.scss */
a.back {
  padding: 10px 20px;
  background-color: rgba(1, 34, 79, 0.1);
  outline: 1px solid rgba(1, 34, 79, 0.1);
  outline-offset: 3px;
  cursor: pointer;
  transition: 0.2s;
}
/* line 303, ../sass/main.scss */
a.back:hover {
  background-color: #01224f;
  color: #fff;
}

/*page book*/

.breadcrumbs.book {
  background-image: url(../img/book.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.myBook {
  margin-bottom: 75px;
}

.myBook .container .title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 50px;
  font-family: 'lato', sans-serif;
  margin-bottom: 75px;
}

.myBook .container .title span {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* clear fix */
.grid:after,
.myBook:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item .content {
  position: relative;
}
.grid-item .content .info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 1;
  font-size: 20px;
  background-color: #fff;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: ease 0.5s;
  border: 1px solid #ccc;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  box-sizing: border-box;
  padding: 10px 15px;
  text-align: center;
}

.grid-item .content:hover .info {
  opacity: 1;
  height: 30%;
}

@media screen and (max-width:768px) {
  .navbar .right ul li.dropdown > a {
    display: none;
  }
  .navbar .right ul li.dropdown {
    padding: 0;
    margin: 0;
  }
  .navbar .right ul li.dropdown .selection {
    position: relative;
    border: none;
    display: flex;
    top: initial;
    right: initial;
    justify-content: center;
  }
  .breadcrumbs.book {
    padding: 75px 0;
  }
  .myBook .container .title {
    margin-bottom: 35px;
  }
}

/* NOTE: Page about */
.parcours {
  margin-bottom: 75px;
}
.parcours .container {
  display: flex;
  justify-content: space-between;
}
.parcours .container .left {
  width: 55%;
}
@media screen and (max-width:1200px) {
  .parcours .container {
    flex-direction: column;
  }
  .parcours .container .left {
    width: 100%
  }
}
.parcours .container .left .title {
  margin-bottom: 20px;
}
.parcours .content .line {
  display: flex;
  align-items: center;
  border-top: 1px solid #f6f6f6;
  padding: 30px 0;
  letter-spacing: 1px;
  position: relative;
}
.parcours .content .line .date {
  margin-right: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.parcours .content .line:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: bold;
  text-decoration: inherit;
  margin-right: 10px;
  color: #01224f;
}
.parcours .content .line .more {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  color: #01224f;
  letter-spacing: initial;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}
@media screen and (max-width:550px) {
  .parcours .content .line .more {
    opacity: 0;
  }
  .parcours .content .line {
    flex-direction: column;
    padding: 15px 0;
  }
  .parcours .content .line:before {
    margin-bottom: 10px;
    transform: rotate(90deg);
  }
}
.parcours .content .line .more:hover {
  color: #e8371a;
}
.parcours .container .right {
  width: 40%;
}
@media screen and (max-width:1200px) {
  .parcours .container .right {
    width: 100%;
  }
}
.parcours .container .right .content {
  display: none;
}
.parcours .container .right .content.visible {
  display: block;
}
.parcours .container .right .content .illu img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  outline: 1px solid #000;
  outline-offset: 8px;
  margin-bottom: 25px;
}
.parcours .container .right .content .illu .title {
  font-size: 18px;
  color: #01224f;
  margin-bottom: 20px;
}
.parcours .container .right .content .explication .bold {
  font-weight: bold;
  margin: 10px 0;
}
.parcours .container .right .content .explication p {
  line-height: 25px;
  margin-bottom: 10px;
}
