.footer {
	background-color: rgba(1, 34, 79, 0.1);
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		.right {
			ul {
				display: flex;
				flex-direction: row;
				li {
					margin-right: 15px;
					&:last-child {
						margin-right: 0;
					}
					a {
						color: #01224f;
						font-size: 17px;
						transition: 0.2s;
						&:hover {
							color: #e8371a;
						}
					}
				}
			}
		}
	}
}
